@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Beauty store!</h1>
                <div>
	             <div class="card" style="width: 18rem; display: inline-block;">
                  <img src="https://patricialedo.liza.ua/images/tild6466-6334-4464-b839-386435616333__pomada_5.png" class="card-img-top" style="weight: 18rem; height:20rem;" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Laptops</h5>
                    <a href="#" class="btn btn-primary">See more</a>
                  </div>
                </div>
                <div class="card" style="width: 18rem; display: inline-block;">
                  <img src="https://patricialedo.liza.ua/images/tild6436-3462-4934-a565-383734386534__rumana.png" class="card-img-top" style="weight: 18rem; height:20rem;" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Smartphones</h5>
                    <a href="#" class="btn btn-primary">See more</a>
                  </div>
                </div>
                <div class="card" style="width: 18rem; display: inline-block;">
                  <img src="https://patricialedo.liza.ua/images/tild6438-3165-4336-a135-613034383462__pudra_2.png" class="card-img-top" style="weight: 18rem; height:20rem;" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Computers</h5>
                    <a href="#" class="btn btn-primary">See more</a>
                  </div>
                </div>
                
            </div>
</div>